extends /wedding-base

block variables
  - body_class = "f1"
  - main_class = "fill4_5"
  - nav_class = "fill1_5"  

block primary
  article.view.context
    header.view--hdr
      h1.typ-poster Cobey's Vows to Carolyn
    
    .view--img.fill2_5.objLeft.pad-xy25.hairline.only-extended
      img(src="#{ static }res/c_c_combining.png")
      .copy
        span.space-above25 Together we are combining into stars
    .context
      img(src="#{ static }res/c_c_combining.png").view--img.fill2_5.objLeft.pad-xy25.hairline.no-extended
      .view--bd.copy.space-below
        h2.typ-display Combining into Stars
        pre.
          i will keep away the demons
          use our love as my shield
          i will break those crashing waves
          stand as the harbor against all your fears
          
          together we are more than our parts
          we are combining into stars
          the sun, the moon, and everything after
          they have nothing on us

          should the stars ever fall
          you and i will endure
          should the stars ever fade
          you and i will burn bright
          in their place

          ---

          i will be a bastion of strength
          a light through all darkness
          i will stand hand in hand
          and watch the years our children grow

          and through it all
          i will hold you higher
          than the floodwaters can reach
          far beyond time
          far beyond our living years
          i will always love you

          together we are more than our parts
          we are combining into stars
          the sun and moon may become dust
          we are made of stronger stuff

          ---

          if the world comes crashing down
          you only have to lean on me
          i will be your rock, your Gibraltar
          standing tall for you and our family

          should the stars ever fall
          you and i will remain
          should the stars refuse to shine
          you and i will burn bright
          in their place


          - J. Cobey Potter, May 24th, 2014