// CONFIG
// Basic web styles (mobile first)
//////////////////

@import "_project"
@import "_vefa-css"

@import "includes/_init"

// MORPHEMES
// ==========================================================================
// most basic individual elements
// ==========================================================================
@import "includes/_glyphs"
@import "includes/_typography"
@import "includes/_fills"
@import "includes/_controls"
@import "includes/_buttons"

// LEXEMES
// ==========================================================================
// componenents made up of "morphemes" and having a similar base
// ==========================================================================
@import "includes/_forms"
@import "includes/_toolbars"
@import "includes/_navigation"
@import "includes/_hooks"
@import "includes/_collections"


// AUTONS
// ==========================================================================
// specialized lexemes that stand alone with their own base
// ==========================================================================
@import "includes/_site"

// CONTEXT
// ==========================================================================
// structural regions
// ==========================================================================
@import "includes/_regions"

//STATES
// ==========================================================================
// control layouts based on class and attr flags of other elements
// ==========================================================================
@import "includes/_states"