* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  list-style: none;
}
address,
article,
aside,
audio,
button,
canvas,
details,
div,
dd,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
header,
img,
input,
label,
li,
main,
menu,
nav,
ol,
p,
textarea,
section,
select,
summary,
ul,
video {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  text-align: left;
}
a,
abbr,
cite,
mark,
time,
span {
  display: inline-block;
  position: relative;
  width: auto;
  vertical-align: top;
  text-align: left;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
}
.u-alignTop {
  vertical-align: top;
}
.u-alignMiddle {
  vertical-align: middle;
}
.u-alignBaseline {
  vertical-align: baseline;
}
.u-alignBottom {
  vertical-align: bottom;
}
.u-context {
  overflow: hidden;
}
.u-context-alt {
  display: table-cell;
/* Create a new block formatting context (NBFC) */
  width: 10000px;
/* Avoid shrink-wrap behaviour of table-cell. */
}
.u-pullLeft {
  float: left;
}
.u-pullRight {
  float: right;
}
.u-objLeft {
  float: left;
  margin-right: 10px;
}
.u-objRight {
  float: right;
  margin-left: 10px;
}
.u-pullLeft + *,
.u-pullRight + *,
.u-objLeft + *,
.u-objRight + * {
  display: block;
}
.u-objLeft img,
.u-objRight img {
  display: block;
/* Remove excess space below images */
  max-width: none;
/* Guard against `img {max-width:100%}` (IE8 fix) */
}
.u-itemFill {
  display: block;
  height: 100%;
  width: 100%;
}
.u-reverse {
  text-align: right;
}
.u-balance {
  line-height: 1;
  text-align: justify;
  text-justify: distribute-all-lines;
}
.u-balance:after {
  content: "";
  position: static;
  display: inline-block;
  width: 100%;
}
.u-a11y {
  position: absolute !important;
  width: 0;
  clip: rect(0, 0, 0, 0);
}
.u-isHidden {
  display: none;
  visibility: hidden;
}
.u-isInvisible {
  visibility: hidden;
}
.u-isVisible {
  visibility: visible;
}
.u-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.u-textBreak {
  word-wrap: break-word;
}
.u-embed-4by3 {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0;
}
.u-embed-16by9 {
  padding-bottom: 56.25%;
}
.u-embed-4by3 {
  padding-bottom: 75%;
}
.u-embed--item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.u-arrange-equal {
  display: table;
  margin: 0;
  padding: 0;
  table-layout: auto;
  width: 100%;
}
.u-arrange--itemFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.u-arrange--itemFill /* fills remaining space */ {
  width: 100%;
}
.u-arrange--itemFill /* fills remaining space */ img {
  height: auto;
  max-width: 100%;
}
.u-arrange-itemFit img /* can not be responsive or will break layout */ {
  max-width: none !important;
  width: auto;
}
.u-arrange-middle .u-arrange--itemFit {
  vertical-align: middle;
}
.u-arrange-bottom .u-arrange--itemFit {
  vertical-align: bottom;
}
.u-arrange-equal {
  table-layout: fixed;
}
.u-arrange-equal > .u-arrange--itemFill,
.u-arrange-equal > .u-arrange--itemFit {
  width: auto;
}
.u-hairline,
body,
.btn-outbound,
.current-info--bd,
.cr-hdr,
.cr-pri,
.soundholes,
.soundholes--inner {
  position: relative;
  z-index: 1;
}
.u-hairline::after,
body::after,
.btn-outbound::after,
.current-info--bd::after,
.cr-hdr::after,
.cr-pri::after,
.soundholes::after,
.soundholes--inner::after,
.u-hairline::before,
body::before,
.btn-outbound::before,
.current-info--bd::before,
.cr-hdr::before,
.cr-pri::before,
.soundholes::before,
.soundholes--inner::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
.u-hairline:after {
  position: static;
  margin: 0 -10px 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(173,136,132,0.5);
}
.u-pad-xy25 {
  padding: 5px;
}
.u-pad-xy50 {
  padding: 10px;
}
.u-pad-xy {
  padding: 20px;
}
.u-pad-xy200 {
  padding: 40px;
}
.u-pad-x25 {
  padding-left: 5px;
  padding-right: 5px;
}
.u-pad-x50 {
  padding-left: 10px;
  padding-right: 10px;
}
.u-pad-x {
  padding-left: 20px;
  padding-right: 20px;
}
.u-pad-x200 {
  padding-left: 40px;
  padding-right: 40px;
}
.u-pad-y25 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.u-pad-y50 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.u-pad-y {
  padding-top: 20px;
  padding-bottom: 20px;
}
.u-pad-y200 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.u-space-x25 {
  margin-left: 5px;
  margin-right: 5px;
}
.u-space-x50 {
  margin-left: 10px;
  margin-right: 10px;
}
.u-space-x75 {
  margin-left: 15px;
  margin-right: 15px;
}
.u-space-x {
  margin-left: 20px;
  margin-right: 20px;
}
.u-space-x200 {
  margin-left: 40px;
  margin-right: 40px;
}
.u-space-y25 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.u-space-y50 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.u-space-y75 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.u-space-y {
  margin-top: 20px;
  margin-bottom: 20px;
}
.u-space-y200 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.u-space-above25 {
  margin-top: 5px;
}
.u-space-above50 {
  margin-top: 10px;
}
.u-space-above75 {
  margin-top: 15px;
}
.u-space-above {
  margin-top: 20px;
}
.u-space-above200 {
  margin-top: 40px;
}
.u-space-below25 {
  margin-bottom: 5px;
}
.u-space-below50 {
  margin-bottom: 10px;
}
.u-space-below75 {
  margin-bottom: 15px;
}
.u-space-below {
  margin-bottom: 20px;
}
.u-space-below200 {
  margin-bottom: 40px;
}
.u-space-center {
  margin-left: auto;
  margin-right: auto;
}
.u-fill1_3 {
  width: 33.3333%;
}
.u-pullBy2_3 {
  right: 66.6666%;
}
.u-pushBy1_3 {
  left: 33.3333%;
}
.u-fill2_3 {
  width: 66.6666%;
}
.u-pullBy1_3 {
  right: 33.3333%;
}
.u-pushBy2_3 {
  left: 66.6666%;
}
.u-fill1_5 {
  width: 20%;
}
.u-pullBy4_5 {
  right: 80%;
}
.u-pushBy1_5 {
  left: 20%;
}
.u-fill2_5 {
  width: 40%;
}
.u-pullBy3_5 {
  right: 60%;
}
.u-pushBy2_5 {
  left: 40%;
}
.u-fill3_5 {
  width: 60%;
}
.u-pullBy2_5 {
  right: 40%;
}
.u-pushBy3_5 {
  left: 60%;
}
.u-fill4_5 {
  width: 80%;
}
.u-pullBy1_5 {
  right: 20%;
}
.u-pushBy4_5 {
  left: 80%;
}
.ctrl-clean {
  -webkit-transform: translateZ(0);
/* kicks in hardware accel */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
html {
  font-size: 62.5%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  position: relative;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0;
  line-height: 20px;
  display: -webkit-flex;
  display: flex;
  background: #fffffa;
  color: #5b5b5b;
}
body::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../res/witewall_3_@2X.png");
  opacity: 0.25;
}
a {
  color: #afafaf;
  text-decoration: none;
}
a:hover {
  color: #c3c3c3;
}
a:active {
  color: #a6a6a6;
}
img {
  max-width: 100%;
  border: 0;
}
details summary::-webkit-details-marker {
  display: none;
}
@media only screen and (max-width: 37.5625em) {
  .no-condensed {
    display: none;
  }
}
@media only screen and (min-width: 37.5625em) {
  .no-condensed {
    display: inline-block;
  }
  .only-condensed {
    display: none;
  }
}
@media only screen and (min-width: 56.3125em) {
  .no-extended {
    display: none;
  }
}
[class*="ico-"] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat;
}
.ico-navList {
  background: linear-gradient(to bottom, #5b5b5b, #5b5b5b 50%, transparent 50%, transparent 100%);
  background-size: 100% 33.3333333%;
}
.ico-navList-off {
  background: linear-gradient(to bottom, #fff, #fff 50%, transparent 50%, transparent 100%);
  background-size: 100% 33.3333333%;
}
.typ-regular,
.hdr--hosts,
.hdr--event,
.hdr--date,
.nav-pri--link,
.nav-gbl--link,
.current-info--hdr,
.spot-info--hdr,
.spot-info--ftr,
.spot-info--data {
  font-family: athelas;
}
.typ-regular,
.hdr--hosts,
.hdr--event,
.hdr--date {
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}
.hdr--hosts,
.hdr--event,
.hdr--date {
  font-family: quatro slab;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #ba4633;
}
@media only screen and (max-width: 56.3125em) {
  .hdr--hosts,
  .hdr--event,
  .hdr--date {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
  }
}
.typ-promo {
  font-family: quatro slab;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}
.typ-subhead {
  font-size: 12px;
  text-transform: uppercase;
}
[class*="ctrl-"] {
  position: static;
  background: none;
  cursor: pointer;
}
.ctrl-clean {
  text-decoration: none;
  color: #afafaf;
}
.ctrl-clean:hover {
  color: #c3c3c3;
}
.ctrl-clean:focus,
.ctrl-clean:active {
  color: #a6a6a6;
}
.ctrl-clean:disabled,
.ctrl-clean:disabled:hover {
  color: #5b5b5b;
  cursor: text;
}
.ctrl-complex,
.ctrl-complex:hover,
.ctrl-complex:focus,
.ctrl-complex:active {
  text-decoration: none;
}
.ctrl-complex .ctrl-complex-target,
.ctrl-complex:hover .ctrl-complex-target,
.ctrl-complex:focus .ctrl-complex-target,
.ctrl-complex:active .ctrl-complex-target {
  text-decoration: underline;
}
.ctrl-block,
.ctrl-block:hover,
.ctrl-block:focus,
.ctrl-block:active {
  display: block;
  text-decoration: none;
}
.ctrl-pseudo,
.ctrl-placebo {
  display: inline;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
}
.ctrl-pseudo:hover,
.ctrl-placebo:hover,
.ctrl-pseudo:focus,
.ctrl-placebo:focus,
.ctrl-pseudo:active,
.ctrl-placebo:active {
  background: transparent;
  color: inherit;
}
.ctrl-placebo {
  text-decoration: none;
  cursor: text;
}
.btn-icon,
.btn-outbound {
  position: relative;
  vertical-align: middle;
  padding: 0;
  font: inherit;
/* Inherit font styles from ancestor. */
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
/* Prevent wrapping across multiple lines. */
  -webkit-appearance: none;
/* Corrects inability to style clickable `input` types in iOS */
  background: transparent;
  border: 0;
  color: inherit;
/* Inherit text color from ancestor. */
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
/* Prevent button text from being selectable. */
}
.btn-icon:hover,
.btn-outbound:hover,
.btn-icon:focus,
.btn-outbound:focus,
.btn-icon:active,
.btn-outbound:active {
  outline: 0;
  text-decoration: none;
}
.btn-icon :disabled,
.btn-outbound :disabled,
.btn-icon .is-disabled,
.btn-outbound .is-disabled {
  cursor: default;
}
.btn-icon::-moz-focus-inner,
.btn-outbound::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn-outbound {
  padding: 0 10px;
  line-height: 2;
  color: #fffffa;
  background: #ad8884;
}
.btn-outbound::after {
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 1px solid #ad8884;
}
.btn-outbound:hover {
  color: #fffffa;
  background: #89605c;
}
.navbar {
  display: none;
  position: absolute;
  top: 320px;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 20;
}
.nav-pri--link,
.nav-gbl--link {
  padding: 0 20px;
  font-size: 32px;
  font-weight: 900;
  color: #eef2d1;
}
@media only screen and (min-width: 37.5625em) and (max-width: 56.3125em) {
  .current-info {
    width: auto;
    margin-left: 40px;
  }
}
.current-info--hdr {
  position: absolute;
  top: 0;
  right: 0;
  color: #fcc48d;
  width: auto;
  text-align: right;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: rotate(-90deg) translateY(-2350%);
  -webkit-transform: rotate(-90deg) translateY(-2350%);
  transform: rotate(-90deg) translateY(-2350%);
  -ms-transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
.current-info--hdr > .typ-promo {
  text-shadow: 1px -1px rgba(96,49,3,0.4), -1px 1px rgba(253,211,170,0.8);
}
.current-info--bd {
  background: #fffffa;
  border: 10px solid rgba(247,161,102,0.25);
  border-top: 0;
  border-bottom: 0;
}
.current-info--bd::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(252,196,141,0.65);
  border-top: 0;
  border-bottom: 0;
}
.current-info--bd::after {
  top: 0;
  right: -10px;
  bottom: 0;
  left: -10px;
  border: 1px dashed rgba(247,161,102,0.15);
  border-top: 0;
  border-bottom: 0;
}
@media only screen and (min-width: 37.5625em) and (max-width: 56.3125em) {
  .current-info--bd {
    min-height: 100vh;
  }
}
.spot-info--hdr {
  font-weight: 900;
  color: #eb7b47;
}
.spot-info--ftr {
  font-size: 15px;
}
.spot-info--data {
  font-size: 15px;
}
.spot-info--data dt,
.spot-info--data dd {
  padding: 5px;
  width: auto;
}
.spot-info--data dt {
  color: #fff;
  background: #ad8884;
}
.spot-info--data dd {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px dashed #ad8884;
}
.spot-info--data dd:last-child {
  border: 0;
}
.cr-hdr {
  background: #f7a166;
  border-right: 1px solid rgba(173,136,132,0.25);
  -webkit-flex: 1;
  flex: 1;
  z-index: 30;
}
.cr-hdr::before,
.cr-hdr::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cr-hdr::before {
  background: url("../res/squairy_light.png");
  opacity: 0.25;
}
.cr-hdr::after {
  right: -20px;
  border-right: 1px dashed #ad8884;
  opacity: 0.5;
}
.cr-pri {
  -webkit-flex: 4;
  flex: 4;
  z-index: 10;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cr-pri::before,
.cr-pri::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 40px;
}
.cr-pri::before {
  background: #fffffa;
  box-shadow: -1px 0 0 rgba(173,136,132,0.25);
}
.cr-pri::after {
  background: url("../res/cream_pixels.png");
  opacity: 0.5;
}
.extra-graphics {
  position: absolute;
  top: 180px;
  left: -134px;
  z-index: 20;
  width: auto;
}
@media only screen and (min-width: 37.5625em) and (max-width: 56.3125em) {
  .extra-graphics {
    display: none;
  }
}
.guitar {
  position: absolute;
  z-index: 21;
  top: -80px;
  left: 90px;
  height: 431px;
  width: 177px;
  background: url("../res/plain-guitar.png") no-repeat;
  background-size: contain;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: rotate(17deg);
  -webkit-transform: rotate(17deg);
  transform: rotate(17deg);
  -webkit-filter: drop-shadow(3px 0px 3px rgba(0,0,0,0.5));
}
.soundholes {
  padding: 5px;
  height: 305px;
  width: 305px;
  background: #fffffa;
  background-clip: content-box;
  border-radius: 50%;
  overflow: hidden;
}
.soundholes::before,
.soundholes::after {
  top: 5;
  right: 5;
  bottom: 5;
  left: 5;
}
.soundholes::before {
  background: url("../res/witewall_3_@2X.png");
  opacity: 0.25;
}
.soundholes::after {
  border: 1px solid rgba(173,136,132,0.25);
  border-radius: 50%;
}
.soundholes--inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 40px;
  background: #fffffa;
}
.soundholes--inner::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../res/witewall_3_@2X.png");
  opacity: 0.25;
}
