// REGIONS
// ==========================================================================
// content regions
// ==========================================================================

// ==========================================================================
// Header Content Region
// 
// Site Header
// darken(saturate(#F7A166, 85%), 10%) 100%
.cr-hdr
  @extend $layers
  background: #F7A166
  border-right: rgba(color.hairline, 25%)
  -webkit-flex: 1
  flex: 1
  z-index: 30

  &::before
  &::after
    edges: 0 

  &::before   
    background: url("../res/squairy_light.png")
    opacity: .25

  &::after
    right: blh*-1
    border-right: 1px dashed color.hairline
    opacity: .5

// ==========================================================================
// Footer Content Region
// 
// Site Footer


// ==========================================================================
// Content View
// 
// View template that holds general content
.cr-pri
  @extend $layers
  -webkit-flex: 4
  flex: 4
  z-index: 10
  display: -webkit-flex
  display: flex
  -webkit-align-items: center
  align-items: center
  -webkit-justify-content: center
  justify-content: center

  &::before
  &::after
    edges: 0 0 0 blh*2
    
  &::before
    background: color.bkg
    box-shadow: -1px 0 0 rgba(color.hairline, 25%)

  &::after
    background: url(res/cream_pixels.png)
    opacity: .5


.extra-graphics
  position: absolute
  top: 180px
  left: -134px
  z-index: 20
  width: auto

  +enhanced()
    display: none

.guitar
  position: absolute
  z-index: 21
  top: -80px
  left: 90px
  height: 431px
  width: 177px
  background: url("../res/plain-guitar.png") no-repeat
  background-size: contain
  transform: rotate(17deg);
  -webkit-filter: drop-shadow(3px 0px 3px rgba(0,0,0,.5))

  
.soundholes
  @extend $layers
  padding: 5px
  height: 305px
  width: @height
  background: color.bkg
  background-clip: content
  border-radius: 50%
  overflow: hidden

  &::before
  &::after
    edges: 5
  
  &::before
    background: url(res/witewall_3_@2X.png)
    opacity: .25
  
  &::after
    border: rgba(color.hairline, 25%)
    border-radius: 50%

.soundholes--inner
  @extend $layers
  position: absolute
  edges: 0
  margin: 0 auto
  width: blh*2
  background: color.bkg
  
  &::before
    edges: 0
    background: url(res/witewall_3_@2X.png)
    opacity: .25
  