// TYPOGRAPHY
// ==========================================================================
// opt-in typography defined
// ==========================================================================

// ==========================================================================
// Class suffix ideas and what they "mean"
//
//
// -poster : extremely large sizes, usually larger than 72 point
// -display : large sizes, typically 19–72 point
// -subhead : large text, typically about 14–18 point
// -(Regular) : usually left unnamed, typically about 10–13 point
// -smtext : typically about 8–10 point
// -caption : very small, typically about 6–8 point
$headingstack
  font-family: type.header_stack

$bodystack
  font-family: type.body_stack

.typ-regular
  @extend $bodystack
  font-size: bfs
  font-weight: 100
  line-height: blh


.hdr--hosts
.hdr--event
.hdr--date
  @extend .typ-regular
  font-family: quatro slab
  font-size: 20px
  line-height: blh*1.5
  font-weight: 300
  color: color.fire[0]

  +under(bp.extended)
    font-size: 15px
    line-height: blh
    font-weight: 600


.typ-promo
  font-family: quatro slab
  font-size: 48px
  font-weight: 700
  letter-spacing: 2px

.typ-subhead
  font-size: 12px
  text-transform: uppercase