@import "lib/helpers"
@import "lib/css-overload"
@import "lib/init"
@import "lib/type"
@import "lib/layout"
@import "lib/grid-system"
@import "lib/forms"
@import "lib/skin"
@import "lib/gradients"
@import "lib/images"
@import "lib/modulate"
@import "lib/nav"
@import "lib/dev"

// VENDOR settings. prefer to do it on case by case basis,
// this overrides Axis defaults
// vendors = webkit moz o ms official
vendors = official

//FONT STACK
body-stack-mobile = helvetica
header-stack-mobile = georgiaTitle
body-stack = "great-primer", body-stack-mobile
header-stack = header-stack-mobile
//alt-stack;; //for extra fontfaces

base-font-size = 16px
base-line-height = 22px
basesize = 16px
baseline = 22px


//COLOR PALETTE
grey1 = #5b5b5b
grey2 = #898989
grey3 = #afafaf
grey4 = #cecece
grey5 = #ededed
grey6 = #fcfcfc

text-color = grey1
text-hilite = #FFE1C7
text-tint = #121212

// bg-color =
// bg-hilite =
// bg-tint =

hairline-color = grey2
hairline-hilite = grey6

module-color = rgba(255,255,255,.10);
module-bkg = rgba(#1B5164, 1)
module-fade = rgba(#1B5164, .6)

link-color = grey3
link-hover = lighten(link-color, 25%)
link-active = darken(link-color, 5%)

selBg = link-color
selColor = bg-color

grid = (14 59 21)
max_width = 1120px