// CONFIG
// Basic web styles (mobile first)
//////////////////
supportIE = false
noREM = true
@import "_project-defaults.styl"


// font-load( font-name, "font-path-no-ext", ttf, false)

//        db
//       d88b        ,d
//      d8'`8b       88
//     d8'  `8b    MM88MMM  ,adPPYba,   88,dPYba,,adPYba,   ,adPPYba,
//    d8YaaaaY8b     88    a8"     "8a  88P'   "88"    "8a  I8[    ""
//   d8""""""""8b    88    8b       d8  88      88      88   `"Y8ba,
//  d8'        `8b   88,   "8a,   ,a8"  88      88      88  aa    ]8I
// d8'          `8b  "Y888  `"YbbdP"'   88      88      88  `"YbbdP"'

//     dMP     .aMMMb  dMP dMP .aMMMb  dMP dMP dMMMMMMP        dMP dMP dMMMMMMP dMP dMP    .dMMMb
//    dMP     dMP"dMP dMP.dMP dMP"dMP dMP dMP    dMP          dMP dMP    dMP   amr dMP    dMP" VP
//   dMP     dMMMMMP  VMMMMP dMP dMP dMP dMP    dMP          dMP dMP    dMP   dMP dMP     VMMMb
//  dMP     dMP dMP dA .dMP dMP.aMP dMP.aMP    dMP          dMP.aMP    dMP   dMP dMP    dP .dMP
// dMMMMMP dMP dMP  VMMMP"  VMMMP"  VMMMP"    dMP           VMMMP"    dMP   dMP dMMMMMP VMMMP"
reset()

utils()

media()

flag()

layers()

grid-module()

//     .aMMMb  dMMMMb  dMP dMMMMMMMMb .aMMMb dMMMMMMP dMP .aMMMb  dMMMMb  .dMMMb
//    dMP"dMP dMP dMP amr dMP"dMP"dMPdMP"dMP   dMP   amr dMP"dMP dMP dMP dMP" VP
//   dMMMMMP dMP dMP dMP dMP dMP dMPdMMMMMP   dMP   dMP dMP dMP dMP dMP  VMMMb
//  dMP dMP dMP dMP dMP dMP dMP dMPdMP dMP   dMP   dMP dMP.aMP dMP dMP dP .dMP
// dMP dMP dMP dMP dMP dMP dMP dMPdMP dMP   dMP   dMP  VMMMP" dMP dMP  VMMMP"
//
//  dMMMMMMP dMMMMb  .aMMMb  dMMMMb  .dMMMb  dMP dMMMMMMP dMP .aMMMb  dMMMMb  .dMMMb
//    dMP   dMP.dMP dMP"dMP dMP dMP dMP" VP amr    dMP   amr dMP"dMP dMP dMP dMP" VP
//   dMP   dMMMMK" dMMMMMP dMP dMP  VMMMb  dMP    dMP   dMP dMP dMP dMP dMP  VMMMb
//  dMP   dMP"AMF dMP dMP dMP dMP dP .dMP dMP    dMP   dMP dMP.aMP dMP dMP dP .dMP
// dMP   dMP dMP dMP dMP dMP dMP  VMMMP" dMP    dMP   dMP  VMMMP" dMP dMP  VMMMP"

//  dMMMMMMP dMP dMP dMMMMb  .aMMMb  .aMMMMP dMMMMb  .aMMMb  dMMMMb  dMP dMP dMP dMP
//    dMP   dMP.dMP dMP.dMP dMP"dMP dMP"    dMP.dMP dMP"dMP dMP.dMP dMP dMP dMP.dMP
//   dMP    VMMMMP dMMMMP" dMP dMP dMP MMP"dMMMMK" dMMMMMP dMMMMP" dMMMMMP  VMMMMP
//  dMP   dA .dMP dMP     dMP.aMP dMP.dMP dMP"AMF dMP dMP dMP     dMP dMP dA .dMP
// dMP    VMMMP" dMP      VMMMP"  VMMMP" dMP dMP dMP dMP dMP     dMP dMP  VMMMP"
.typ--regular
  font-family: body-stack
  font-size: 26px
  font-weight: 100
  line-height: base-line-height*2
  font-variant: small-caps
  color: text-color
  text-align: center

//     dMP dMMMMMMMMb .aMMMb  .aMMMMP dMMMMMP .dMMMb
//    amr dMP"dMP"dMPdMP"dMP dMP"    dMP     dMP" VP
//   dMP dMP dMP dMPdMMMMMP dMP MMP"dMMMP    VMMMb
//  dMP dMP dMP dMPdMP dMP dMP.dMP dMP     dP .dMP
// dMP dMP dMP dMPdMP dMP  VMMMP" dMMMMMP  VMMMP"
//
//    .aMMMMP dMP    dMP dMP dMMMMb  dMP dMP .dMMMb
//   dMP"    dMP    dMP.dMP dMP.dMP dMP dMP dMP" VP
//  dMP MMP"dMP     VMMMMP dMMMMP" dMMMMMP  VMMMb
// dMP.dMP dMP    dA .dMP dMP     dMP dMP dP .dMP
// VMMMP" dMMMMMP VMMMP" dMP     dMP dMP  VMMMP"

//     dMMMMMMMMb  dMMMMMP dMMMMb  dMP .aMMMb
//    dMP"dMP"dMP dMP     dMP VMP amr dMP"dMP
//   dMP dMP dMP dMMMP   dMP dMP dMP dMMMMMP
//  dMP dMP dMP dMP     dMP.aMP dMP dMP dMP
// dMP dMP dMP dMMMMMP dMMMMP" dMP dMP dMP


//     dMMMMMP .aMMMb  dMMMMb  dMMMMMMMMb .dMMMb
//    dMP     dMP"dMP dMP.dMP dMP"dMP"dMPdMP" VP
//   dMMMP   dMP dMP dMMMMK" dMP dMP dMP VMMMb
//  dMP     dMP.aMP dMP"AMF dMP dMP dMPdP .dMP
// dMP      VMMMP" dMP dMP dMP dMP dMP VMMMP"
reset-form()
reset-inputs()
reset-input-search()
reset-placeholders()

//     dMMMMb  dMP dMP dMMMMMMP dMMMMMMP .aMMMb  dMMMMb  .dMMMb
//    dMP"dMP dMP dMP    dMP      dMP   dMP"dMP dMP dMP dMP" VP
//   dMMMMK" dMP dMP    dMP      dMP   dMP dMP dMP dMP  VMMMb
//  dMP.aMF dMP.aMP    dMP      dMP   dMP.aMP dMP dMP dP .dMP
// dMMMMP"  VMMMP"    dMP      dMP    VMMMP" dMP dMP  VMMMP"

//    .aMMMb  .aMMMb  dMMMMb dMMMMMMP dMMMMb  .aMMMb  dMP    .dMMMb
//   dMP"VMP dMP"dMP dMP dMP   dMP   dMP.dMP dMP"dMP dMP    dMP" VP
//  dMP     dMP dMP dMP dMP   dMP   dMMMMK" dMP dMP dMP     VMMMb
// dMP.aMP dMP.aMP dMP dMP   dMP   dMP"AMF dMP.aMP dMP    dP .dMP
// VMMMP"  VMMMP" dMP dMP   dMP   dMP dMP  VMMMP" dMMMMMP VMMMP"

//  dMMMMMMP .aMMMb  dMMMMb  dMP     dMMMMMP .dMMMb
//    dMP   dMP"dMP dMP"dMP dMP     dMP     dMP" VP
//   dMP   dMMMMMP dMMMMK" dMP     dMMMP    VMMMb
//  dMP   dMP dMP dMP.aMF dMP     dMP     dP .dMP
// dMP   dMP dMP dMMMMP" dMMMMMP dMMMMMP  VMMMP"

//     .aMMMb  dMP     dMMMMMP dMMMMb dMMMMMMP .dMMMb
//    dMP"dMP dMP     dMP     dMP.dMP   dMP   dMP" VP
//   dMMMMMP dMP     dMMMP   dMMMMK"   dMP    VMMMb
//  dMP dMP dMP     dMP     dMP"AMF   dMP   dP .dMP
// dMP dMP dMMMMMP dMMMMMP dMP dMP   dMP    VMMMP"

//    .dMMMb dMMMMMMP .aMMMb dMMMMMMP dMMMMMP .dMMMb
//   dMP" VP   dMP   dMP"dMP   dMP   dMP     dMP" VP
//   VMMMb    dMP   dMMMMMP   dMP   dMMMP    VMMMb
// dP .dMP   dMP   dMP dMP   dMP   dMP     dP .dMP
// VMMMP"   dMP   dMP dMP   dMP   dMMMMMP  VMMMP"

// 88b           d88               88                                       88
// 888b         d888               88                                       88
// 88`8b       d8'88               88                                       88
// 88 `8b     d8' 88   ,adPPYba,   88   ,adPPYba,   ,adPPYba,  88       88  88   ,adPPYba,  ,adPPYba,
// 88  `8b   d8'  88  a8"     "8a  88  a8P_____88  a8"     ""  88       88  88  a8P_____88  I8[    ""
// 88   `8b d8'   88  8b       d8  88  8PP"""""""  8b          88       88  88  8PP"""""""   `"Y8ba,
// 88    `888'    88  "8a,   ,a8"  88  "8b,   ,aa  "8a,   ,aa  "8a,   ,a88  88  "8b,   ,aa  aa    ]8I
// 88     `8'     88   `"YbbdP"'   88   `"Ybbd8"'   `"Ybbd8"'   `"YbbdP'Y8  88   `"Ybbd8"'  `"YbbdP"'

//     dMMMMMP dMP dMP dMMMMMP dMMMMb dMMMMMMP .dMMMb
//    dMP     dMP dMP dMP     dMP dMP   dMP   dMP" VP
//   dMMMP   dMP dMP dMMMP   dMP dMP   dMP    VMMMb
//  dMP      YMvAP" dMP     dMP dMP   dMP   dP .dMP
// dMMMMMP    VP"  dMMMMMP dMP dMP   dMP    VMMMP"

//     .aMMMb  .aMMMb dMMMMMMP dMP .aMMMb  dMMMMb  .dMMMb
//    dMP"dMP dMP"VMP   dMP   amr dMP"dMP dMP dMP dMP" VP
//   dMMMMMP dMP       dMP   dMP dMP dMP dMP dMP  VMMMb
//  dMP dMP dMP.aMP   dMP   dMP dMP.aMP dMP dMP dP .dMP
// dMP dMP  VMMMP"   dMP   dMP  VMMMP" dMP dMP  VMMMP"

//     dMP dMP .aMMMb  .aMMMb  dMP dMP .dMMMb
//    dMP dMP dMP"dMP dMP"dMP dMP.dMP dMP" VP
//   dMMMMMP dMP dMP dMP dMP dMMMMK"  VMMMb
//  dMP dMP dMP.aMP dMP.aMP dMP"AMF dP .dMP
// dMP dMP  VMMMP"  VMMMP" dMP dMP  VMMMP"

//    .aMMMb dMMMMMMP .aMMMb  .dMMMb
//   dMP"VMP   dMP   dMP"dMP dMP" VP
//  dMP       dMP   dMMMMMP  VMMMb
// dMP.aMP   dMP   dMP dMP dP .dMP
// VMMMP"   dMP   dMP dMP  VMMMP"

//    .aMMMb  .aMMMb  dMMMMMMMMb dMMMMb  .aMMMb  dMMMMb  dMMMMMP dMMMMb dMMMMMMP .dMMMb
//   dMP"VMP dMP"dMP dMP"dMP"dMPdMP.dMP dMP"dMP dMP dMP dMP     dMP dMP   dMP   dMP" VP
//  dMP     dMP dMP dMP dMP dMPdMMMMP" dMP dMP dMP dMP dMMMP   dMP dMP   dMP    VMMMb
// dMP.aMP dMP.aMP dMP dMP dMPdMP     dMP.aMP dMP dMP dMP     dMP dMP   dMP   dP .dMP
// VMMMP"  VMMMP" dMP dMP dMPdMP      VMMMP" dMP dMP dMMMMMP dMP dMP   dMP    VMMMP"

//     dMMMMb  .aMMMb  dMP dMP dMP .aMMMMP .aMMMb dMMMMMMP dMP .aMMMb  dMMMMb
//    dMP dMP dMP"dMP dMP dMP amr dMP"    dMP"dMP   dMP   amr dMP"dMP dMP dMP
//   dMP dMP dMMMMMP dMP dMP dMP dMP MMP"dMMMMMP   dMP   dMP dMP dMP dMP dMP
//  dMP dMP dMP dMP  YMvAP" dMP dMP.dMP dMP dMP   dMP   dMP dMP.aMP dMP dMP
// dMP dMP dMP dMP    VP"  dMP  VMMMP" dMP dMP   dMP   dMP  VMMMP" dMP dMP



//   ,ad8888ba,                                                      88
//  d8"'    `"8b                                                     ""
// d8'        `8b
// 88          88  8b,dPPYba,   ,adPPYb,d8  ,adPPYYba,  8b,dPPYba,   88  ,adPPYba,  88,dPYba,,adPYba,   ,adPPYba,
// 88          88  88P'   "Y8  a8"    `Y88  ""     `Y8  88P'   `"8a  88  I8[    ""  88P'   "88"    "8a  I8[    ""
// Y8,        ,8P  88          8b       88  ,adPPPPP88  88       88  88   `"Y8ba,   88      88      88   `"Y8ba,
//  Y8a.    .a8P   88          "8a,   ,d88  88,    ,88  88       88  88  aa    ]8I  88      88      88  aa    ]8I
//   `"Y8888Y"'    88           `"YbbdP"Y8  `"8bbdP"Y8  88       88  88  `"YbbdP"'  88      88      88  `"YbbdP"'
//                              aa,    ,88
//                               "Y8bbdP"

//    .aMMMb  .aMMMb  dMP     dMP     dMMMMMP .aMMMb dMMMMMMP dMP .aMMMb  dMMMMb  .dMMMb
//   dMP"VMP dMP"dMP dMP     dMP     dMP     dMP"VMP   dMP   amr dMP"dMP dMP dMP dMP" VP
//  dMP     dMP dMP dMP     dMP     dMMMP   dMP       dMP   dMP dMP dMP dMP dMP  VMMMb
// dMP.aMP dMP.aMP dMP     dMP     dMP     dMP.aMP   dMP   dMP dMP.aMP dMP dMP dP .dMP
// VMMMP"  VMMMP" dMMMMMP dMMMMMP dMMMMMP  VMMMP"   dMP   dMP  VMMMP" dMP dMP  VMMMP"


//     dMMMMMP dMMMMMP .aMMMb dMMMMMMP dMP dMP dMMMMb  dMMMMMP .dMMMb
//    dMP     dMP     dMP"dMP   dMP   dMP dMP dMP.dMP dMP     dMP" VP
//   dMMMP   dMMMP   dMMMMMP   dMP   dMP dMP dMMMMK" dMMMP    VMMMb
//  dMP     dMP     dMP dMP   dMP   dMP.aMP dMP"AMF dMP     dP .dMP
// dMP     dMMMMMP dMP dMP   dMP    VMMMP" dMP dMP dMMMMMP  VMMMP"
.t-holding
  margin: 0 auto
  width: 530px

//     dMMMMb  dMMMMMP .aMMMMP dMP .aMMMb  dMMMMb  .dMMMb
//    dMP.dMP dMP     dMP"    amr dMP"dMP dMP dMP dMP" VP
//   dMMMMK" dMMMP   dMP MMP"dMP dMP dMP dMP dMP  VMMMb
//  dMP"AMF dMP     dMP.dMP dMP dMP.aMP dMP dMP dP .dMP
// dMP dMP dMMMMMP  VMMMP" dMP  VMMMP" dMP dMP  VMMMP"

html
  /* set root font size to 10px for REM sizing */
  html-init()
  // background: db-dark





body
  body-init: 0 baseline
  display: table
  height: 100vh
  min-height: 768px
  width: 100%
  background: #F7A166
  background-image: webkit-linear-gradient(top, #9C9E9E 2%, #FEE1C8 50%)
  background-image: linear-gradient(top, #9C9E9E 2%, #FEE1C8 50%)



[class*="cr--"]
  content-region(vertical_buffer: baseline)

.cr-main
  display: table-cell
  vertical-align: middle



//    .dMMMb  dMP dMP dMP dMMMMb  .dMMMb
//   dMP" VP dMP.dMP amr dMP dMP dMP" VP
//   VMMMb  dMMMMK" dMP dMP dMP  VMMMb
// dP .dMP dMP"AMF dMP dMP dMP dP .dMP
// VMMMP" dMP dMP dMP dMP dMP  VMMMP"
