extends /wedding-base

block variables
  - body_class = "f1"
  - main_class = "fill4_5"
  - nav_class = "fill1_5"

block primary
  article.view.context
    header.view--hdr
      h1.typ-poster How We Met
    
    .view--img.fill2_5.objLeft.pad-xy25.hairline.only-extended
      img(src="#{ static }res/c_c.jpg")
      .copy
        span.space-above25 Carolyn ++ Cobey at a Charlottesville, VA winery
    .context
      img(src="#{ static }res/c_c.jpg").view--img.fill2_5.objLeft.pad-xy25.hairline.no-extended
      .view--bd.copy.space-below
        h2.typ-display Carolyn's Take
        :markdown
          One cold February night, some roommates and I went out to a local Arlington bar (Galaxy Hut).  The bar was toasty, filled with plenty of Arlington’s scene-sters. The canned beer was cold and cheap, the aroma of gourmet tater tots permeated the bar, which was not much larger than a studio apartment, and the hipster band was at-best mediocre. After several hours of “dancing” in the packed bar and disjointed, incomprehensible conversations over the band, we decided to head out to a house party down the street. This house party was not just any house party, it was a house party that was nearly over, was running dangerously low on beer, and contained just a few stragglers who running the table at beer pong. My 23 year-old self would have expected more arriving at a party at 1am, but my roommates and I thought we could at least stay awhile and help drive the keg to completion. 
          
          My roommate Anne and I stepped up to the table to challenge the reigning champs at beer pong, and I was immediately hurled an insult by one of my opponents. In comes Cobey Potter to my life. The insult was directed at my scarf, which donned Virginia Tech school colors, while he proudly sported a University of Virginia t-shirt.  He and his roommate towered over Anne and I, standing tall at 5’2”. It would have been intimidating, but Cobey, standing at 6’ with amazing curly hair at the time wavering between brown and platinum color, with bright blue eyes, and a smile flanked by these incredible dimples, I couldn’t have possibly been intimidated. As ping pong balls went flying back and forth across the table, so did a series of witty insults that became more flirtatious with each point they scored. Frankly, Anne and I didn’t stand a chance against these guys on the table, but I thought I stood a chance with Cobey Potter off the table.  As I left the party, I challenged Cobey to a rematch, truly not caring about the game, but more about seeing him again. He quickly agreed, though quietly, as little did I know at the time, he had a date with him that night.
          
          The hyped-up rematch came the following week, with Cobey coming to my house. The house had been cleaned and scrubbed, eagerly anticipating another chance to talk to Cobey. My roommates had been teasing me all week and were also weirdly interested to see how the events were going to unfold. When Cobey arrived, all of my roommates stuck around, much to my surprise. Kudos to Cobey on holding his own while being grilled and studied by my roommates.  

          Our first actual date was a few weeks later. 

      .view--bd.copy
        h2.typ-display Cobey's Take
        p That's exactly how it happened.