extends /wedding-base

block variables
  - body_class = "f3" 

prepend nav_pri
  - nav_class = "pad-x"
  
//- prepend cr_pri
//-   - priClass = "fill4_5"
8


//- block primary
//-   article.view.space-above.reverse.pad-x
//-     img(src="#{static}res/cville_sign.jpg").fill4_5.pad-xy25.hairline
  

