extends /wedding-base

block variables
  - body_class = "f2"
  - main_class = "fill4_5"
  - nav_class = "fill1_5"

block primary
  article.view.context
    header.view--hdr
      h1.typ-poster The Weekend
    .view--img.fill2_5.objLeft.pad-xy25.hairline.only-extended
      img(src="#{ static }res/c_c_wine.jpg")
      .copy
        span.space-above25 Carolyn + Cobey on one of many wine tours around Cville
    .context
      img(src="#{ static }res/c_c_wine.jpg").view--img.fill2_5.objLeft.pad-xy25.hairline.no-extended
      .view--bd.copy.space-below
        p While the wedding party will be preparing and primping for the wedding festivities, there are plenty of ways for you to take in the sights, sips, smells, and swirls of Charlottesville:

        h2.typ-display.space-above Friday, May 23, 2014:
        p <strong>Fridays After 5 at the Charlottesville Pavilion:</strong> Free to enter and $5 buys you drink tickets for regular brews, craft brews, and wines. Bring a blanket to sit on the lawn with your drink and listen to some live music on the downtown mall.
        p After that, plan to take a stroll down the <strong>Charlottesville Downtown mall</strong> to find an al fresca spot to grab a snack or dinner. (Recommendations: Commonwealth, Rapture, Christians Pizza, Fellini's,)
        p If you’re feeling particularly collegiate, head down to <storng>“The Corner”</strong>, the University of Virginia bar district to mingle with some co-eds and procure cheap drinks or nostalgia.
        p Before leaving Grounds (UVa's term for campus) that evening, make sure to stop by <strong>“The Lawn”</strong> behind the <strong>Rotunda</strong> to catch a glimpse of the streakers
        p We'll plan on trying to be at <strong>Sedona Taphouse</strong>, next door to the Residence Inn, by 9:30pm that night for a night cap and to say hello. Stop on by!

        h2.typ-display.space-above Saturday, May 24, 2014:
        p Options are a plenty and it’s really up to you how you want to spend your day before wishing us well on our nuptials. Remember to be back to the hotels in time for the bus pickup at 4:30 or 5:15. Pace yourself, because our expectations for you that night will be high!
        p Check out <a href="the-town.html">the town guide</a> for a few ideas and our recommendations!

        h2.typ-display.space-above Sunday, May 25, 2014:
        ul
          li <strong>Monticello at 12pm:</strong> Interested in seeing some great architecture and learning about our third President? Come to Monticello for a tour of the house and grounds at 12pm! Admission is $25 and since its Memorial Day Weekend, its best to purchase in advance. Purchase direct through the Monticello&nbsp;
            a(href="http://www.monticello.org/site/visit/tickets-tours") Ticket Office.
          li <strong>Polo Match at King Family Vineyard at 1pm:</strong> If you wake up with a strange desire to watch men in white uniforms driving horses up and down a field, King Family Vineyard will be hosting a polo match. If not sure what to expect, imagine a Ralph Lauren commercial and add wine to the picture.
          li <strong>Jefferson Vineyard at 2pm:</strong> Your newly married hosts will be happy to see your faces again if you will still be in the area. If we don’t see you, don’t worry, we will be reviewing pictures of you from the night before!

        h2.typ-display.space-above Monday, May 26, 2014:
        p Are you people still here? Don’t you have families, jobs, vacations to take? Thanks for coming and thanks in advance for the gifts! At this point, we are going to go home and go to sleep for a few days.
