extends /wedding-base

block variables
  - body_class = "f2"
  - main_class = "fill4_5"
  - nav_class = "fill1_5"

block primary
  article.view.context
    header.view--hdr
      h1.typ-poster The Town
    .view--img.fill2_5.objLeft.pad-xy25.hairline.only-extended
      img(src="#{ static }res/cville_sign.jpg")
      .copy
        span.space-above25 Carolyn + Cobey in front of a perfect sign!
    .context
      img(src="#{ static }res/cville_sign_small.jpg").view--img.fill2_5.objLeft.pad-xy25.hairline.no-extended
      .view--bd.copy.space-below
        p We just love Charlottesville! Take a look at that picture if you don't believe us! Cobey's hometown and one of Carolyn's Virginia haunts, we welcome you to get a taste of one of our favorite places on earth!
        h2.typ-subhead.space-above Food
        ul
          li <strong>Bodos Bagels:</strong> Highly recommended for bagel enthusiasts. They have quite possibly the best bagel breakfast sandwich, and the coffee is a good supplement. Locations near hotel and UVA campus. (Recommended: Deli egg on an Everything bagel)
          li <strong>Charlottesville Downtown Mall:</strong> Mudhouse for coffee, Sidewalk vendors and musical performances for entertainment, Christian's Pizza for lunch
          li <strong>The Shebeen:</strong> South African food, so good!
          li <strong>Michael's Bistro:</strong> Enjoy a sunny day on the Corner, an establishment that hosted Cobey and friends throughout much of college


        h2.typ-subhead.space-above Libations
        p <strong>Wineries</strong> we recommend:
        ul
          li Southwest of town: Veritas, Pollack,
          li Southeast of town: Blenheim, Gabrielle Rause, Trump, First Colony, Pippin Hill
          li North of town: Barboursville, Horton
        p <strong>Breweries/Cideries</strong> we recommend:
        ul
          li Center of town: South Street, Three Notch'd Brewery
          li West of town: Starr Hill
          li Southwest of town: Blue Mountain, Virginia Ciderworks

        h2.typ-subhead.space-above Culture
        p Charlottesville is a culture and history packed city! So much to see and do, you won't be able to get to it all in one visit. Don't worry, the locals know you'll be back, they don't call it the Hook for nothing!
        ul
          li <strong>University of Virginia Grounds: </strong> Walk down the Lawn, see the Rotuna (UNESCO World Heritage site), and through campus to the Corner, where you can grab lunch at Michaels or Little Johns
          li Be sure to check out <strong>Miller's</strong> on the Downtown mall. Its where Dave Matthews got his start and they serve up cheap beer and usually have a blues or jazz band playing.
          li <strong>Monticello: </strong> Home of Thomas Jefferson, amazing architecture and grounds that overlook the fair city. Learn all about the man and his home life (Tour it Sunday)
          li <strong>Ashlawn-Highlands: </strong> Home of James Monroe, it sits a few miles from Monticello
          li <strong>Montpelier: </strong> Home of James Madison. Up the road from Cville, but nonetheless worth the trip. Come learn about the namesake of the JMU Dukes and our fourth president
          li <strong>Charlottesville Downtown Mall</strong>


        h2.typ-subhead.space-above Nature
        p Charlottesville sits right at the foot of the Blue Ridge Mountains and Applachian Trail. There are plenty of great views, hikes, and (non-boozy) watering holes for you to check out.
        p We recommend:
        ul
          li <strong>Wintergreen Resort</strong>
          li <strong>Blue Ridge Parkway</strong>
          li <strong>Humpback Rocks</strong>
          li <strong>The Lawn</strong>
          li <strong>Carter's Mountain Apple Orchard</strong>

        h2.typ-subhead.space-above Golf
        p If you wanted to golf, but didn’t want to get up early on your weekend with the rest of the gents, there are plenty of good golf courses around to play 9 or 18 holes. Just be back in time for the busses!
        p We recommend:
        ul
          li West of town: Birdwood, Old Trail
          li Southwest of town: Devil’s Knob, Stoney Creek
          li Central to town: Meadowcreek
