extends /wedding-base

block variables
  - body_class = "f3"
  - main_class = "fill4_5"
  - nav_class = "fill1_5"

block primary
  article.view.context
    header.view--hdr
      h1.typ-poster The Registry
    .view--img.fill2_5.objLeft.pad-xy25.hairline
      img(src="#{ static }res/c_k.jpg")
      .copy
        span.space-above25 Carolyn + Kuma looking for a way to Japan
    .view--bd.copy.space-below.context
      section.space-below
        h2.typ-display Trip to Japan
        :markdown
          We're not pack-rats, in fact are clutter-phobes, we shiver at the idea 
          of more stuff. If you would like to celebrate our nuptials with a gift, 
          we encourage you to help us fund our honeymoon!
   
          We've both loved the idea of traveling to Japan and have a goal of 
          making that our honeymoon destination! We love the food, architecture, 
          cherry blossoms, and obviously their dog breeds! Now, we just need to 
          get there and make some memories. That's where you come in!

          Please check out [Honeyfund](http://www.honeyfund.com/wedding/cobeyandcarolyn).

      section
        h2.typ-display Help us with our new home
        :markdown
          If you would like to celebrate our nuptials with a gift of a more physical nature,
          please help us furnish some of our new home! We're moving in mid-April to Alexandria, Va
          about a mile from Mt. Vernon, George Washington's historical home.

          We've registered at [Bed, Bath, and Beyond](http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=13780170&pwsurl=) 
          for a few necessities that we need in order for you to be comfortable on 
          your first (and next) visit to our new home. 

          We're looking forward to having you over the next time you're in town!
          
          Please check out [Bed, Bath, and Beyond](http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=13780170&pwsurl=).