reset-form()
reset-inputs()

form
  mark
    background: none

input
  border: 0
  border-bottom: 1px dotted grey[2]
  width: 100%

label
date
  position: relative
  top: blh*-.75
  display: inline-block
  font-size: 14px

