// GLYPHS
// ==========================================================================
// form controls and items
// ==========================================================================
[class*="ico-"]
  position: relative
  display: inline-block
  vertical-align: top
  font-size: bfs
  font-style: normal
  -webkit-font-smoothing: antialiased
  background-repeat: no-repeat

  // :before
  //   content:'\2630'

.ico-navList
  background: linear-gradient(
                to bottom,  
                grey[0], 
                grey[0] 50%, 
                transparent 50%, 
                transparent 100%
              )
  background-size: 100% 33.3333333%

.ico-navList-off
  background: linear-gradient(
                to bottom, 
                #fff, 
                #fff 50%,
                transparent 50%,
                transparent 100%
              )
  background-size: 100% 33.3333333%