// NAVIGATION
// ==========================================================================
// specialized collections that act as navigation
// ==========================================================================

// ==========================================================================
// Navigation wrapper
// 
// Class for nav wrapper that holds nav-pri and nav-gbl
.navbar
  &[class*="fill"]
    .nav-pri--link
      width: 100%

// ==========================================================================
// Primary Navigation
// 
// Classes for primary navigation (main navigation near top of page, shown on all pages)
//
.nav-pri--link
  hovers: color
  line-height: blh*1.5
  width: 100%
  text-align: right


// ==========================================================================
// Extended Navigation
// 
// Classes for extended navigation (usually in footer, shown on all pages)
//    


// ==========================================================================
// Global Navigation
// 
// Classes for global navigation (non-sectional pages, appears on all pages)
//    
//


// ==========================================================================
// Local Navigation
// 
// Classes for local navigation (appears on most branch/leaf pages)
//    
//
  


//==========================================================================
// Breadcrumbs
// 
// Classes for breadcrumbs
//    
//
// .nav-breadcrumbs
