// REGIONS
// ==========================================================================
// content regions
// ==========================================================================

.cr-main
  display: block
  
  +extended()
    max-width: 1120px
    
// ==========================================================================
// Header Content Region
// 
// Site Header
//
//

// ==========================================================================
// Footer Content Region
// 
// Site Footer
//
//

// ==========================================================================
// Content View
// 
// View template that holds general content
//
//    