// TYPOGRAPHY
// ==========================================================================
// opt-in typography defined
// ==========================================================================

// ==========================================================================
// Class suffix ideas and what they "mean"
//
//
// -poster : extremely large sizes, usually larger than 72 point
// -display : large sizes, typically 19–72 point
// -subhead : large text, typically about 14–18 point
// -(Regular) : usually left unnamed, typically about 10–13 point
// -smtext : typically about 8–10 point
// -caption : very small, typically about 6–8 point
$bodystack
  font-family: body_stack

$headingstack
  font-family: header_stack
  letter-spacing: -.1em

$titles
  @extend $bodystack
  font-weight: 500
  text-transform: lowercase

$headings
  @extend $headingstack
  text-indent: -.25em

.typ-poster
  @extend $headings
  font-size: 36px
  line-height: blh*2

  +under(bp_extended)
    font-size: 28px

.typ-display
  @extend $headings
  font-size: 24px
  line-height: blh*2

  +under(bp_extended)
    font-size: 18px
    line-height: blh

.typ-subhead
  @extend $headings
  font-size: 15px



//
// LINKS
//
//
.nav-pri--link
  @extend $titles  
  font-size: blh
  line-height: blh



//
// COPY
//
//
.copy
  @extend $bodystack
  font-size: bfs

  pre
    @extend $bodystack
    
  p,
  li
    padding-bottom: blh*.5

  b,
  strong
    font-weight: 500
  
  li 
    ul
      padding-top: 10px
    li
      padding-left: blh