// 11.0 Breakpoints
// The following mixins take a block of code and place it into a corresponding 
// media query breakpoint. Bsased on Rupture: https://github.com/jenius/rupture
// 
// Default breakpoints are in EMs based off of a base font size of 16px, 
// you can overload these after loading _vefa-css.styl
// bp = {
//  condensed: 37.5em, - 601px (max-width) */
//  extended: 56.25em - 901px (min-width) */
// }
bp = {
 condensed: 37.5625em, 
 extended: 56.3125em
}


// ==========================================================================
// 11.1 Retina
// 
// Breakpoint for seriving styles to retina(-like) screens
//
//
retina()
  @media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    {block}



// ==========================================================================
// 11.2 Under defined size
// 
// Breakpoint for seriving styles to screens under a certain screen size
//
//
under(max)
  condition = 'only screen and (max-width: %s)' % max
  @media condition
    {block}



// ==========================================================================
// 11.3 Over defined size
// 
// Breakpoint for seriving styles to screens over a certain screen size
//
//
over(min)
  condition = 'only screen and (min-width: %s)' % min
  @media condition
    {block}



// ==========================================================================
// 11.4 Between 2 defined sizes
// 
// Breakpoint for seriving styles to screens between two limits
//
//
between(min, max)
  condition = 'only screen and (min-width: %s) and (max-width: %s)' % (min max)
  @media condition
    {block}



// ==========================================================================
// 11.5 Condensed screensize
// 
// Breakpoint for seriving styles to condensed screensize. These can be
// considered mobile devices, but are better considered any very small-screened
// device
//
//
condensed()
  condition = 'only screen and (max-width: %s)' % bp.condensed
  @media condition
    {block}



// ==========================================================================
// 11.6 Enhanced screensize
// 
// Breakpoint for serving styles to an enhanced screensize. This is an
// enhancement to the condensed and baseline styles. These can be considered
// tablet devices, but also serve smaller laptops, persons with a screen
// resolution max to 1024px, or a smaller browser window
//
//
enhanced()
  condition = 'only screen and (min-width: %s) and (max-width: %s)' % (bp.condensed bp.extended)
  @media condition
    {block}



// ==========================================================================
// 11.7 Extended screensize
// 
// Breakpoint for serving styles to an extended screensize. This is an
// enhancement to the enhanced styles. These can be considered
// desktop devices, but also serve larger laptops and larger / full-screened
// browser windows
//
//
extended()
  condition = 'only screen and (min-width: %s)' % bp.extended
  @media condition
    {block}

