// 3.0 Initializations
// These stylus mixins & functions reset browser base HTML. Some devs like
// normalize.css, but we've had great success with clearing it all out and see
// no browser issues or slowness this way.
// 
// In addition, Vefa utilizes opt-in typography, where all elements are set to
// font-size of 0 and development determines specific element font-sizes. Opt-in
// typography, coupled with declaring all elements as `inline-block` allows for
// easy grid construction
//
// ToDo - in future, add flex-box usage for better grids.

// ==========================================================================
// 3.1 HTML-init
//
// Sets root font-size to 10px for use with REM styling. Sets viewport to 
// 100% height to force scrollbar so content doesn't bounce around
//
//
html-init()
  font-size: 62.5%
  height: 100%
  // no harm no foul
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%



// ==========================================================================
// 3.2 Body-init
//
// Sets root font-size to 10px for use with REM styling. Sets viewport to 
// 100% height to force scrollbar so content doesn't bounce around. 
//
// @doc_base - override opt-in typography
//
//
body-init(doc_base=false)
  position: relative
  min-height: 100%
  font-family: type.body_stack_mobile if type.body_stack_mobile
  font-family: helvetica unless type.body_stack_mobile
  font-size: 0 if doc_base is false
  font-size: doc_base if doc_base is true
  line-height: type.base_line_height if type.base_line_height
  line-height: 20px unless type.base_line_height



// ==========================================================================
// 3.3 Element reset
//
// Reset HTML elements to base empty values to set and opt-in at will. Typical 
// block elements are set to `display: inline-block` and `width: 100%` to act
// like regular block elements. Typical inline elements inherit values from
// parent element, are set to `display: inline-block` and `width: auto` to act
// like regular inline elements
//
//
reset()
  *
    background-repeat: no-repeat
    margin: 0
    padding: 0
    box-size()
    font-family: inherit
    font-size: 100%
    font-weight: inherit
    list-style: none
    

  address,
  article,
  aside,
  audio,
  button,
  canvas,
  details,
  div,
  dd,
  dl,
  dt,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  header,
  img,
  input,
  label,
  li,
  main,
  menu,
  nav,
  ol,
  p,
  textarea,
  section,
  select,
  summary,
  ul,
  video
    grid-module(false)

  a,
  abbr,
  cite,
  mark,
  time,
  span
    grid-module()
    font-size: inherit
    font-style: inherit
    font-weight: inherit
    font-variant: inherit
    letter-spacing: inherit
    line-height: inherit
    text-align: inherit
    text-transform: inherit
    color: inherit