media( offset = 10px )
  .media
    .sec
      float: left
      margin-right: offset

    .sec-alt,
    .tert
      float: right
      margin-left: offset

  .media,
  .media .pri
    overflow: hidden


////////////////////////////////////////////////////////////////////////////////


flag( offset = 10px )
  .flag
    display: table
    width: 100%

    .sec
    .pri
      display: table-cell
      vertical-align: middle

    .sec
      padding-right: offset

      > img
        display: block
        max-width: inherit

    .pri
      width: 100%

    &.reverse
      .sec
        padding-right: 0
        padding-left: offset

  .flag--top
    @extend .flag

    .sec
    .pri
      vertical-align: top

  .flag--bottom
    @extend .flag

    .sec
    .pri
      vertical-align: bottom


////////////////////////////////////////////////////////////////////////////////


// VERTICAL PADDING-MARGIN
//    keeps elements aligned to baseline grid without any vertical padding
//    between elements
vpm(v_offset)
  if v_offset < 0
    margin-top: v_offset
    padding-bottom: v_offset * -1
  if v_offset >= 0
    padding-top: v_offset
    margin-bottom: v_offset * -1


////////////////////////////////////////////////////////////////////////////////


responsive-16x9()
  position: relative
  padding-bottom 56.25%
  height: 0

  > *
    position: absolute
    edges: 0


////////////////////////////////////////////////////////////////////////////////


edges(args...)
  if length(args) == 1
    top: rem(args[0])
    right: rem(args[0])
    bottom: rem(args[0])
    left: rem(args[0])

  if length(args) == 2
    top: rem(args[0])
    right: rem(args[1])
    bottom: rem(args[0])
    left: rem(args[1])

  if length(args) == 3
    top: rem(args[0])
    right: rem(args[1])
    bottom: rem(args[2])
    left: rem(args[1])

  if length(args) == 4
    top: rem(args[0])
    right: rem(args[1])
    bottom: rem(args[2])
    left: rem(args[3])


////////////////////////////////////////////////////////////////////////////////


content-region(bounds = 100%, vertical_buffer = baseline)
  position: relative
  margin: 0 auto unit(vertical_buffer, "px")
  width: bounds
  vertical-align: top