//- index

extends base

block primary
  article.t-holding
    img(
      src="#{ static }res/save-the-date-holder.png"
    )
    h1.typ--regular Our site is coming soon. Like a fine wine, this site will get better with age.