rotate( deg = "45")
  s("rotate(%sdeg)", deg)

scale( ratio = 2)
  s("scale(%s)", ratio)

scaleX( ratio = 2 )
  s("scaleX(%s)", ratio)

scaleY( ratio = 2 )
  s("scaleY(%s)", ratio)

translate( ratio = 2)
  s("translate(%s)", ratio)

translateX( ratio = 2 )
  s("translateX(%s)", ratio)

translateY( ratio = 2 )
  s("translateY(%s)", ratio)

skew( dX = 45, dY = 0)
  s("skew(%sdeg, %sdeg)", dX, dY)

////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////

backface-visibility(styl="hidden")
  -webkit-transform: translate3d(0,0,0) // stops flickering
  -moz-backface-visibility: arguments
  -ms-backface-visibility: arguments
  -webkit-backface-visibility: arguments

change-state()
  -webkit-transform: translateZ(0) // kicks in hardware accel
  -webkit-transition: arguments
  transition: arguments

transform()
  -webkit-transform: translate3d(0,0,0) // kicks in hardware accel
  -ms-transform: arguments
  -webkit-transform: arguments
  transform: arguments

transition-duration( t = ".5s")
  -webkit-transition-duration: t
  transition-duration: t

transform-origin()
  -ms-transform-origin: arguments
  -webkit-transform-origin: arguments
  transform-origin: arguments

transform-style(styl = "preserve-3d")
  -moz-transform-style: arguments
  -ms-transform-style: arguments
  -webkit-transform-style: arguments
  transform-style: arguments
