nav-step()
  text-align: center

  a
    display: inline-block
    position: relative

  div
    margin: 0 auto
    width: auto
    text-align: center

nav-step-ctrls()
  .ctrl-step-prev
  .ctrl-step-next
      min-width: 50px
      z-index: 10

  .ctrl-step-prev
    float: left

  .ctrl-step-next
    float: right


display-total(pad-value = 7px 0 0, margin-value = 0 0 -7px)
  .total-display
    position: relative
    display: block
    margin: pad-value
    padding: pad-value
